{% extends 'base.html' %}

{% block content %}


<div class="container">
    <div class="row">
{% for source in news_sources %}


        <div class=" col-md-4 col-sm-6 card m-2 p-2">

           <div class="source_wrapper">
                <h3><b class="text-center">{{ source.name }}</b></h3>
                <p>{{ source.description }}</p>
               <a class="btn btn-dark" href="/source/{{ source.id }}">View Articles</a>
           </div>
        
        </div>

{% endfor %}
    </div>
</div>

{% endblock %}