{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">

        {% for source in sources %}

        <div class="col-md-4 col-sm-6">

            <div class="articles_wrapper">

                <img class="img-responsive" src="{{ source.urlToImage }}" alt="image">
                <h4>{{ source.title }}</h4>
                <p>{{ source.description }}</p>
                <a href="{{ source.url }}" target="_blank" rel="noopener noreferrer"><em>Read more</em></a>
                <span>{{ source.publishedAt|truncate(13) }}</span>

            </div>
            
        </div>

        {% endfor %}


    </div>
</div>

{% endblock %}